interactions:
- request:
    method: GET
    url: https://www.last.fm/user/IvanMalison/library/music/+noredirect/The%20Who/_/Won%27t%20Get%20Fooled%20Again%20-%20Original%20Album%20Version
    headers:
      content-type:
      - application/octet-stream
    body: ''
    version: None
  response:
    status: 200
    headers:
      etag:
      - W/"e45b1327cd4053f9c6abbcebfa1bb43e"
      content-type:
      - text/html; charset=utf-8
      x-lfm-upstream:
      - /user/IvanMalison/library/music/+noredirect/The%20Who/_/Won%27t%20Get%20Fooled%20Again%20-%20Original%20Album%20Version
      x-pjax-url:
      - https://www.last.fm/user/IvanMalison/library/music/+noredirect/The%20Who/_/Won%27t%20Get%20Fooled%20Again%20-%20Original%20Album%20Version
      x-lfm-upstream-type:
      - PASS
      x-lfm-cacheable-page:
      - '0'
      content-language:
      - en
      x-request-category:
      - page
    body: "\n\n\n\n\n\n<!doctype html>\n<html\n    lang=\"en\"\n    class=\"\n        no-js\n        playbar-masthead-release-shim\n        youtube-provider-not-ready\n    \"\n>\n    <head>\n        <meta charset=\"utf-8\">\n        <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"><script type=\"text/javascript\">window.NREUM||(NREUM={});NREUM.info={\"beacon\":\"bam.nr-data.net\",\"errorBeacon\":\"bam.nr-data.net\",\"licenseKey\":\"0ed0ce50b0\",\"applicationID\":\"5588594\",\"transactionName\":\"Y1BRbUUFWkMEWxYMV1oadUxZB0BZClZNCV5ZG0RcVUpDRxIWAxVIRxtGSlIWGkYMXRUWFlhcUUtWFk0KMUoDBlMaUlZN\",\"queueTime\":0,\"applicationTime\":2883,\"agent\":\"\"};\n(window.NREUM||(NREUM={})).init={ajax:{deny_list:[\"bam.nr-data.net\"]}};(window.NREUM||(NREUM={})).loader_config={xpid:\"UwYPV15QGwYFXFlXDgU=\",licenseKey:\"0ed0ce50b0\",applicationID:\"5588594\"};;/*! For license information please see nr-loader-full-1.293.0.min.js.LICENSE.txt */\n(()=>{var e,t,r={8122:(e,t,r)=>{\"use strict\";r.d(t,{a:()=>i});var n=r(944);function i(e,t){try{if(!e||\"object\"!=typeof e)return(0,n.R)(3);if(!t||\"object\"!=typeof t)return(0,n.R)(4);const r=Object.create[...]
- request:
    method: GET
    url: https://www.last.fm/user/IvanMalison/library/edit?edited-variation=library-track-scrobble
    headers:
      content-type:
      - application/octet-stream
    body: ''
    version: None
  response:
    status: 302
    headers:
      location:
      - /user/IvanMalison/library
      x-lfm-upstream:
      - /user/IvanMalison/library/edit?edited-variation=library-track-scrobble
      x-pjax-url:
      - https://www.last.fm/user/IvanMalison/library/edit?edited-variation=library-track-scrobble
      content-type:
      - text/html; charset=utf-8
      x-lfm-upstream-type:
      - PASS
      x-lfm-cacheable-page:
      - '0'
      x-request-category:
      - page
      content-language:
      - en
    body: null
    version: None
- request:
    method: GET
    url: https://www.last.fm/user/IvanMalison/library
    headers:
      content-type:
      - application/octet-stream
    body: ''
    version: None
  response:
    status: 200
    headers:
      x-pjax-url:
      - https://www.last.fm/user/IvanMalison/library
      x-lfm-upstream:
      - /user/IvanMalison/library
      content-language:
      - en
      x-request-category:
      - page
      x-lfm-upstream-type:
      - PASS
      x-lfm-cacheable-page:
      - '0'
[...]
